<div class="flex flex-col items-center justify-center">

    <h1 class="text-4xl text-blue-600">Alpine <i class="opacity-50">+</i> Parcel <i class="opacity-50">+</i> Tailwind</h1>

    <div class="flex justify-center">
        <img class="h-24 mt-4"
            src="https://demo.cloudimg.io/width/200/n/https://cdn0.iconfinder.com/data/icons/travel-filled-line-4/64/Travel-Filled-12-512.png" />
        <img class="h-32 ml-4" src="https://demo.cloudimg.io/width/200/n/https://parceljs.org/assets/parcel-og.png" />
        <img class="h-32" src="https://demo.cloudimg.io/width/200/n/https://www.drupal.org/files/project-images/screenshot_361.png" />
    </div>

    <p class="mb-4">This example demonstrate how to use <a class="font-bold underline" target="_blank"
            href="https://github.com/alpinejs/alpine/">Alpine.js</a>
        with
        <a class="font-bold underline" target="_blank" href="https://parceljs.org/">Parcel</a> and <a target="_blank" class="font-bold underline"
            href="https://tailwindcss.com">Tailwind.css</a></p>
</div>
